%section.marg-bot-lg.marg-top-lg
.row
  .col-lg-3
    .panel.panel-default.no-border
      .panel-heading.bg-black.text-center{ :style => "border-bottom: 0;" }
        .dropdown.grey-dropdown
          %button#dropdownMenu1.btn.btn-grey.dropdown-toggle{"aria-expanded" => "true", "data-toggle" => "dropdown", :type => "button"}
            Filter by
            %span.caret
          %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1", :role => "menu"}
            %li{:role => "presentation"}
              %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Action
            %li{:role => "presentation"}
              %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Another action
            %li{:role => "presentation"}
              %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Something else here
            %li{:role => "presentation"}
              %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Separated link
      .panel-body.no-border.file-list{ :style => "padding-top: 0" }
        .row.two-button
          .col-xs-3.bg-blue.text-center
            %span.glyphicon.glyphicon-chevron-left
          .col-xs-9
            .dropdown.grey-dropdown.file-search
              %button#dropdownMenu1.btn.btn-grey.dropdown-toggle{"aria-expanded" => "true", "data-toggle" => "dropdown", :type => "button"}
                Dropdown
                %span.caret
              %ul.dropdown-menu.dropdown-menu-left{"aria-labelledby" => "dropdownMenu1", :role => "menu"}
                %li{:role => "presentation"}
                  %form{:role => "search"}
                    .form-group
                      %input.form-control{:placeholder => "Search", :type => "text"}/
                %li{:role => "presentation"}
                  %a{:href => "#", :role => "menuitem", :tabindex => "-1"} File 1
                %li{:role => "presentation"}
                  %a{:href => "#", :role => "menuitem", :tabindex => "-1"} File 2
                %li{:role => "presentation"}
                  %a{:href => "#", :role => "menuitem", :tabindex => "-1"} File 3

      .panel-body.no-padding.no-border.file-list
        %ul.list-group.no-border.file-list
          %li.list-group-item.no-border.even
            %i.fa.fa-folder.text-blue.marg-right-sm
            %span Folder
          %li.list-group-item.no-border.odd
            %i.fa.fa-folder.text-blue.marg-right-sm
            %span Folder
          %li.list-group-item.no-border.even
            %i.fa.fa-file-text-o.text-blue.marg-right-sm
            %span File
          %li.list-group-item.no-border.odd
            %i.fa.fa-file-text-o.text-blue.marg-right-sm
            %span File
          %li.list-group-item.no-border.even
            %i.fa.fa-file-text-o.text-blue.marg-right-sm
            %span File
  .col-lg-9
    .well.text-center.no-border-radius
      .btn.btn-primary.padder-v-lg.text-uppercase
        Add
    #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
      .panel.panel-default.no-border.no-border-radius
        #headingOne.panel-heading.padder-v{:role => "tab"}
          %h4.panel-title
            .row.two-button
              .col-xs-11.breadcrumbs-container
                %ol.breadcrumb.marg-none
                  %li
                    %a{:href => "#"} Project
                  %li
                    %a{:href => "#"} errors
                  %li.active.font-bold Data
              .col-xs-1.text-center.bg-grey-light
                %a.text-black.font-bold{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
                  ^
        #collapseOne.panel-collapse.collapse.in{"aria-labelledby" => "headingOne", :role => "tabpanel"}
          .panel-body.no-border-radius.translation-container
            .row
              .col-xs-2.text-left
                %i.glyphicon.glyphicon-flag.text-blue.marg-right
                %h4.font-bold.text-uppercase.inline en
              .col-xs-8
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
              .col-xs-2.text-right
                %select.form-control.input-sm
                  %option{:value => "1"} Completed
                  %option{:value => "2"} Incomplete
                  %option{:value => "3"} Revision
          .panel-body.no-border.no-border-radius.translation-container
            .row
              .col-xs-2.text-left
                %i.glyphicon.glyphicon-flag.text-blue.marg-right
                %h4.font-bold.text-uppercase.inline pl
              .col-xs-8
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
              .col-xs-2.text-right
                %select.form-control.input-sm
                  %option{:value => "1"} Completed
                  %option{:value => "2"} Incomplete
                  %option{:value => "3"} Revision
      .panel.panel-default.no-border.no-border-radius
        #headingTwo.panel-heading.padder-v{:role => "tab"}
          %h4.panel-title
            .row.two-button
              .col-xs-11.breadcrumbs-container
                %ol.breadcrumb.marg-none
                  %li
                    %a{:href => "#"} Project
                  %li
                    %a{:href => "#"} Library
                  %li.active.font-bold Data
              .col-xs-1.text-center.bg-grey-light
                %a.text-black.font-bold{"aria-controls" => "collapseTwo", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
                  ^
        #collapseTwo.panel-collapse.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
          .panel-body.no-border-radius.translation-container
            .row
              .col-xs-2.text-left
                %i.glyphicon.glyphicon-flag.text-blue.marg-right
                %h4.font-bold.text-uppercase.inline en
              .col-xs-8
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
              .col-xs-2.text-right
                %select.form-control.input-sm
                  %option{:value => "1"} Completed
                  %option{:value => "2"} Incomplete
                  %option{:value => "3"} Revision
          .panel-body.no-border.no-border-radius.translation-container
            .row
              .col-xs-2.text-left
                %i.glyphicon.glyphicon-flag.text-blue.marg-right
                %h4.font-bold.text-uppercase.inline pl
              .col-xs-8
                %textarea.form-control{:name => "", :rows => "3"}
                .text-left.marg-top
                  .btn.btn-success.btn-sm.text-uppercase Accept
                  .btn.btn-grey.btn-sm.text-uppercase Reset
              .col-xs-2.text-right
                %select.form-control.input-sm
                  %option{:value => "1"} Completed
                  %option{:value => "2"} Incomplete
                  %option{:value => "3"} Revision
      .panel.panel-default.no-border.no-border-radius
        #headingThree.panel-heading.padder-v{:role => "tab"}
          %h4.panel-title
            .row.two-button
              .col-xs-11.breadcrumbs-container
                %ol.breadcrumb.marg-none
                  %li
                    %a{:href => "#"} Project
                  %li
                    %a{:href => "#"} body
                  %li.active.font-bold errors
              .col-xs-1.text-center.bg-grey-light
                %a.text-black.font-bold{"aria-controls" => "collapseThree", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree"}
                  ^
        #collapseThree.panel-collapse.collapse{"aria-labelledby" => "headingThree", :role => "tabpanel"}
          .panel-body.no-border-radius.translation-container
            .row
              .col-xs-2.text-left
                %i.glyphicon.glyphicon-flag.text-blue.marg-right
                %h4.font-bold.text-uppercase.inline en
              .col-xs-8
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
              .col-xs-2.text-right
                %select.form-control.input-sm
                  %option{:value => "1"} Completed
                  %option{:value => "2"} Incomplete
                  %option{:value => "3"} Revision
          .panel-body.no-border.no-border-radius.translation-container
            .row
              .col-xs-2.text-left
                %i.glyphicon.glyphicon-flag.text-blue.marg-right
                %h4.font-bold.text-uppercase.inline pl
              .col-xs-8
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
              .col-xs-2.text-right
                %select.form-control.input-sm
                  %option{:value => "1"} Completed
                  %option{:value => "2"} Incomplete
                  %option{:value => "3"} Revision

    - if @translation_entry && @translation_entry.parent_entry#TODO: fix it
      = link_to 'Back', project_translation_entry_path(id: @translation_entry.parent_entry)
    %table
      %thead
        %tr
          %th Key
          %th Key Type
          %th Path
          %th
          %th
          %th

      %tbody
        - @translation_entries.each do |translation_entry|
          %tr
            %td= translation_entry.key
            %td= translation_entry.key_type
            %td= translation_entry.path
            %td
              - if translation_entry.key?
                = link_to 'Show', project_translation_entry_translations_path(translation_entry_id: translation_entry)
              - else
                = link_to 'Show', project_translation_entry_path(id: translation_entry)
            -#%td= link_to 'Edit', edit_translation_entry_path(translation_entry)
            -#%td= link_to 'Destroy', translation_entry, :method => :delete, :data => { :confirm => 'Are you sure?' }

          %br

          -#= link_to 'New Translation entry', new_translation_entry_path
