= simple_form_for [@project, @translation_entry], remote: true do |f|
  = f.error_notification

  .form-inputs
    = f.input :key_type, as: :hidden
    = f.input :path, as: :string

  .form-actions
    = f.button :submit
