%p#notice= notice

%p
  %b Key:
  = @translation_entry.key
%p
  %b Type:
  = @translation_entry.type
%p
  %b Parent entry:
  = @translation_entry.parent_entry
%p
  %b Path:
  = @translation_entry.path
%p
  %b Project:
  = @translation_entry.project

= link_to 'Edit', edit_translation_entry_path(@translation_entry)
\|
= link_to 'Back', translation_entries_path
