= simple_form_for(@translation) do |f|
  = f.error_notification

  .form-inputs
    = f.association :translation_entry
    = f.input :value
    = f.association :language

  .form-actions
    = f.button :submit
