%h1 Listing translations

%table
  %thead
    %tr
      %th Translation entry
      %th Value
      %th Language
      %th
      %th
      %th
      
  %tbody
    - @translations.each do |translation|
      %tr
        %td= translation.translation_entry
        %td= translation.value
        %td= translation.language
        %td= link_to 'Show', translation
        %td= link_to 'Edit', edit_translation_path(translation)
        %td= link_to 'Destroy', translation, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Translation', new_translation_path
