Invite User

= simple_form_for(@user) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :email
    = f.association :projects
    = f.input :user_type, as: :select, collection: ProjectUser.user_types.keys.to_a.map {|ut| [t("user_type.#{ut}"), ut]}, include_blank: false

  .form-actions
    = f.button :submit
