.row
  .col-xs-4.text-center.bg-primary
    = link_to '#', :data => {:toggle => 'tooltip', :'original-title' => 'Users'} do
      Users
      = "#{project.users.count}"
  .col-xs-4.text-center.bg-danger
    = link_to project_project_languages_path(project), :remote => true, :data => {toggle: 'modal', target: '#myModal'} do
      Languages
      = "#{project.project_languages.count}"
  .col-xs-4.text-center.bg-success
    = link_to project_translation_entries_path(project), :data => {:toggle => 'tooltip', :'original-title' => 'Translation entries'} do
      Translations
      = "#{project.translation_entries.count}"
