.row
  .col-lg-4.text-center
    = link_to '#', :data => {:toggle => 'tooltip', :'original-title' => 'Users'} do
      %i.fa.fa-users
      = "#{project.users.count}"
  .col-lg-4.text-center
    = link_to project_project_languages_path(project), :data => {:toggle => 'tooltip', :'original-title' => 'Languages'} do
      %i.fa.fa-language
      = "#{project.project_languages.count}"
  .col-lg-4.text-center
    = link_to project_translation_entries_path(project), :data => {:toggle => 'tooltip', :'original-title' => 'Translation entries'} do
      %i.fa.fa-file-text-o
      = "#{project.translation_entries.count}"
